version: 2.1

supported-eslint-versions: &supported-eslint-versions ["local", "7"]

deploy_filters: &deploy_filters
  filters:
    branches:
      ignore: /.*/
    tags:
      # Trigger on tags that begin with `v`
      only: /^v.*/

commands:
  save_v1_cache:
    description: Save cache for future build
    steps:
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
  restore_v1_cache:
    description: Restore cache from previous build
    steps:
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "yarn.lock" }}
          - v1-dependencies-

jobs:
  build:
    parameters:
      eslint-version:
        type: string
        description: >
          Overrides the installed version of ESLint. When set to "local" the version of ESLint set
          frozen in the yarn.lock is used.
        default: "local"
    docker:
      - image: circleci/node

    steps:
      - checkout
      - restore_v1_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lock

      - save_v1_cache
      - when:
          condition:
            not:
              equal: [<<parameters.eslint-version>>, "local"]
          steps:
            - run:
                name: Override version of eslint@<<parameters.eslint-version>>
                command: yarn add eslint@<<parameters.eslint-version>> --dev
      - run: 
          name: Check formatting
          command: yarn format:check
      - run:
          name: Run linter
          command: yarn lint
      - run:
          name: Run unit tests
          command: yarn test

  deploy:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - restore_v1_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lockfile
      - run:
          name: Configure NPM authentication
          command: npm config set "//registry.npmjs.org/:_authToken" "$NPM_AUTOMATION_TOKEN"
      - run:
          name: Publish package
          command: yarn release:publish:ci

workflows:
  build_and_test:
    jobs:
      - build:
          matrix:
            parameters:
              eslint-version: *supported-eslint-versions
              
  build_and_test_and_deploy:
    jobs:
      - build:
          <<: *deploy_filters
          matrix:
            parameters:
              eslint-version: *supported-eslint-versions
      
      - deploy:
          <<: *deploy_filters
          requires:
            - build
